$font-white: white;
$border-radius: 5px;
$height-btn: 30px;
$primary-color: #82c0e1;
$font-fam: "Arial";
$height-btn: 30px;
$border-radius: 5px;

.content {
  max-width: 960px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.h1header {
  color: $primary-color;
}

.bgh1 {
  background-color: $primary-color;
  color: $font-white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 1px;
  width: 500px;
  height: 220px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.input {
  width: 400px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: $primary-color;
  border-radius: $border-radius;
}

.button {
  background-color: $primary-color;
  border: none;
  color: rgb(10, 10, 10);
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 400px;
  height: $height-btn;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.button_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 140px;
}

.button_edit {
  background-color: $primary-color;
  height: $height-btn;
  width: 50px;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
}

.button_delete {
  color: #f6f6f6;
  background-color: #c05662;
  height: $height-btn;
  width: 70px;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-size: 16px;
  width: 100%;
  border: 3px solid $primary-color;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #131211 !important;
}

.searchTerm:focus {
  color: $primary-color;
}

.p_list {
  line-height: 5px;
}

.list_title {
  font-weight: bold;
}
